.screen
  display block
  size(100%)
  background-color gray
  text-align center

.facility
  display inline-block
  border 2px solid black

  &__outer
    border-spacing 0

  &__roof
    .cell
      height 40px

.cell
  &
  &-controls
    size(160px,120px)

  border 2px solid black
  background-color white

  &_type_stairs
    width 40px

  &-controls
    position relative
    border 2px solid red

  &-merge
    position absolute
    outline 0
    border 0
    background-color blue

    &_up
    &_down
      size(100%,40px)

    &_right
    &_left
      size(40px, 100%)

    &_up
      absoluteCCW(-40px,0)

    &_right
      absoluteCCW(0,100%)

    &_down
      absoluteCCW(100%,0)

    &_left
      absoluteCCW(0,-40px)
